@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

}

.hero {
  transition: 1s ease;
  animation: fade-in 1s 1 forwards;
}

img,
.background {
  transition: all;
}

.heading {
  letter-spacing: 10px;
  width: 100%;
  transition: 0.6s ease-out;
}

.box2,
.box1 {
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  justify-content: space-evenly;


}

.box-1,
.box-2,
.box-3,
.box-4 {
  transition: 1s ease-in-out;
  border-radius: 20px;
  padding: 10px;
  height: 200px;
  width: 200px;
}

@media (min-width:768px) {

  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    height: 150px;
    width: 260px;
  }
}

img {
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-delay: 0s;
}

.box2 h1 {
  font-size: 50px;
  font-weight: 800;


}

.box2 p {
  font-size: 20px;
  font-weight: 800px;

}

.box1 h1 {
  font-size: 50px;
  font-weight: 800;

}

.box1 p {
  font-size: 20px;
  font-weight: 400;

}
