
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}
@font-face{
  font-family: "RubikScribble";
  src:local("RubikScribble-Regular"),
  url('./assets/fonts/Rubik_Scribble/RubikScribble-Regular.ttf') 
}